<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор заданий</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="header-nav">
        <ul class="menu">
            <li><a href="{{ url_for('index') }}" class="menu-item {% if request.endpoint == 'index' %}active{% endif %}">Главная</a></li>
    
            {% if session.get("user_id") %}
                <li><a href="{{ url_for('profile') }}" class="menu-item {% if request.endpoint == 'profile' %}active{% endif %}">Профиль</a></li>
                <li><a href="{{ url_for('logout') }}" class="menu-item">Выйти</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="menu-item {% if request.endpoint == 'login' %}active{% endif %}">Войти</a></li>
                <li><a href="{{ url_for('register') }}" class="menu-item {% if request.endpoint == 'register' %}active{% endif %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
    
    

    <div class="container">
        <header>
            <h1>Задание</h1>
            <select id="difficulty">
                <option value="easy">Лёгкий</option>
                <option value="medium">Средний</option>
                <option value="hard">Сложный</option>
            </select>
        </header>
        <main>
            <pre id="task-text" class="task preserve-format">
                Текст задания будет здесь...
            </pre>
            <input type="text" placeholder="Введите ваш ответ..." name="text" class="input">
            <button id="check-answer">Проверить</button>
            <p id="explanation" class="hidden">Пояснение к ответу появится здесь...</p>
            <button id="new-task">Новое задание</button>
        </main>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
