<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="header-nav">
        <ul class="menu">
            <li><a href="{{ url_for('index') }}" class="menu-item {% if request.endpoint == 'index' %}active{% endif %}">Главная</a></li>
    
            {% if session.get("user_id") %}
                <li><a href="{{ url_for('profile') }}" class="menu-item {% if request.endpoint == 'profile' %}active{% endif %}">Профиль</a></li>
                <li><a href="{{ url_for('logout') }}" class="menu-item">Выйти</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="menu-item {% if request.endpoint == 'login' %}active{% endif %}">Войти</a></li>
                <li><a href="{{ url_for('register') }}" class="menu-item {% if request.endpoint == 'register' %}active{% endif %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
    

    <div class="container">
        <form class="form" method="post" action="/login">
            <h2 style="margin: 0;">Вход в аккаунт</h2>

            <div class="flex-column">
                <label for="email">Электронная почта</label>
                <div class="inputForm-1">
                    <input type="email" id="email" name="email" placeholder="example@mail.com" class="inputs" required>
                </div>
            </div>

            <div class="flex-column">
                <label for="password">Пароль</label>
                <div class="inputForm-1">
                    <input type="password" id="password" name="password" placeholder="Введите пароль" class="inputs" required>
                </div>
            </div>

            <button type="submit" class="button-submit">Войти</button>

            <p class="p">Нет аккаунта? <a href="{{ url_for('register') }}" class="span">Зарегистрироваться</a></p>
        </form>
    </div>
</body>
</html>