<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="header-nav">
        <ul class="menu">
            <li><a href="{{ url_for('index') }}" class="menu-item">Главная</a></li>
            <li><a href="{{ url_for('login') }}" class="menu-item">Войти</a></li>
            <li><a href="{{ url_for('register') }}" class="menu-item active">Регистрация</a></li>
        </ul>
    </nav>

    <div class="container">
        <form class="form" method="post" action="/register">
            <h2 style="margin: 0;">Создание аккаунта</h2>

            <div class="flex-column">
                <label for="username">Имя пользователя</label>
                <div class="inputForm-1">
                    <input type="text" id="username" name="username" placeholder="Введите имя" class="inputs" required>
                </div>
            </div>

            <div class="flex-column">
                <label for="email">Электронная почта</label>
                <div class="inputForm-1">
                    <input type="email" id="email" name="email" placeholder="example@mail.com" class="inputs" required>
                </div>
            </div>

            <div class="flex-column">
                <label for="password">Пароль</label>
                <div class="inputForm-1">
                    <input type="password" id="password" name="password" placeholder="Введите пароль" class="inputs" required>
                </div>
            </div>

            <button type="submit" class="button-submit">Зарегистрироваться</button>

            <p class="p">Уже есть аккаунт? <a href="{{ url_for('login') }}" class="span">Войти</a></p>
        </form>
    </div>
</body>
</html>
